name: Tests

on:
  pull_request:
    paths:
      - .github/**
      - build/**
      - tests/**
      - poetry.lock

jobs:
  tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Set up Python environment
        uses: ./.github/actions/setup-environment
      - name: Install dependencies
        run: |
          poetry install --no-interaction --no-root
      - name: Run tests for image builds with pytest
        env:
          KEYCLOAK_VERSION: "26.5.1"
          POSTGRESQL_VERSION: "17.5"
        run: |
          poetry run pytest --cov build --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
